
@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h2>Contact Us</h2>
    <div>
        <br/>
        <form method="post" action="EmailSend">
            <div>
                <label>Name:</label><br />
                <input type="text" name="customerName" />
            </div>

            <div>
                <label>Email:</label><br />
                <input type="text" name="customerEmail" />
            </div>

            <div>
                <label>Suggestion:</label><br />
            </div>
            
            <p><input type="submit" value="Submit" /></p>
        </form> 
    </div>
</body>
</html>
