
@{
    ViewBag.Title = "Home";
}

<h1>UVM CS Crew: @(ViewBag.Title)</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel imperdiet mi, 
    id luctus augue. Suspendisse lectus tortor, accumsan a malesuada eu, sodales in 
    tortor. Ut molestie metus at justo viverra cursus. Duis sed lorem sit amet quam 
    sollicitudin efficitur ac eu metus. Aenean non augue lacinia, gravida nisi a, 
    dignissim ante. Nulla tincidunt lectus ac tristique aliquet. Maecenas posuere 
    justo ac sollicitudin semper. Curabitur bibendum urna a faucibus auctor.
</p>